.experienceDiv {
    text-align: center;
}

.experienceContent {
    display: inline-block;
    background: rgba(0,0,0,.80);
    width: 90%
}

.experienceHeader {
    color: white;
}

.experienceSubHeader {
    color: white;
    text-align: left;
    margin-left: 10px;
}

.experienceBody {
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-top: -7px;
    margin-right: 20px;
}